## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[25, 66, 36, 15, 30, 34, 74, 92, 65, 43, 42, 91, 93, 48, 38, 68, 8, 63, 41, 29, 87, 28, 7, 33, 50, 24, 20, 85, 37, 19, 4, 80, 95, 26, 72, 2, 69, 1, 57, 70, 59, 61, 40, 27, 16, 23, 58, 49, 10, 78, 73, 64, 51, 18, 71, 53, 3, 83, 45, 55, 54, 13, 89, 39, 31, 22, 0, 96, 99, 77, 79, 60, 5, 14, 44, 97, 47, 88, 76, 98]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
# Your code here
sample_list_2 = []

for i in range(80) :
  sample_list_2.append(random.randint(0,100))

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [53]:
# Your code here
set3 = set()

for element in set1 :
  if element not in set2 :
    set3.add(element)
len(set3)

41

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [54]:
# Your code here
set4 = set()

for element in set2 :
  if element not in set1 :
    set4.add(element)
len(set4)

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
# Your code here
set5 = set()

for element in set1 :
  if element in set2 :
    set5.add(element)
len(set5)

39

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [57]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))

if len(set3) + len(set5) == len(set1) :
  print("length of set3 + length of set5 equal length of set1")

80 52 41 13 39
length of set3 + length of set5 equal length of set1

#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [63]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 83, 85, 87, 88, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [64]:
# Your code here
if set1 == set6 :
  print("set1 and set6 are equal.")

set1 and set6 are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [66]:
# Your code here
if set2.issubset(set1) :
  print("set1 contains set2")
if set3.issubset(set1) :
  print("set1 contains set3")

set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [67]:
# Your code here
union345 = set3.union(set4,set5)
union12 = set1.union(set2)
if union12 == union345 :
  print("union of set3, set4, and set5 is equal to the union of set1 and set2")

union of set3, set4, and set5 is equal to the union of set1 and set2

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in list_to_remove :
    if element in set1 :
        set1.remove(element)
        
print(set1)

{2, 3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 53, 54, 55, 57, 58, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 76, 77, 78, 80, 83, 85, 87, 88, 92, 93, 95, 96, 97, 98}